.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.searchBy-container {
  height: 40px;
  padding: 0 30px;
}

.searchBy-container > select {
  padding: 6px;
  font-size: 20px;
  border-radius: 4px;
}

.search-input-container {
  height: 40px;
  padding: 0 30px;
}

.search-input-container > input {
  padding: 6px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  transition: all 0.2s ease-in;
  outline: none;
  background-color: rgba(165, 165, 165, 0.315);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.search-input-container > input:focus {
  border: none;
}

.suggested-list {
  position: absolute;
  top: 54px;
  left: 14px;
  width: 253px;
  height: auto;
  border: 2px black solid;
}
.suggested-ingr {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 24px;
  padding-bottom: 4px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.suggested-ingr:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    width: 100%;
  }
  .suggested-list {
    top: 75px;
    left: 59px;
  }
}
